---
title: Join Us
layout: layouts/base.njk
---
<h1>Join Us</h1>
<p>New members are welcome, provided they're willing to bring a dish to
their first supper and a question to their first talk.</p>

<p>To ask after membership, write to us:</p>

<p>
  The Utah Valley Morality Club<br>
  c/o The Corresponding Secretary<br>
  <a href="mailto:secretary@uvmoralityclub.example">secretary@uvmoralityclub.example</a>
</p>
