---
title: Members
layout: layouts/base.njk
---
<h1>Members</h1>
<p>The present officers and membership of the Morality Club.</p>

{% for member in collections.members %}
<div class="entry">
  <p class="entry-meta">{{ member.data.role }}</p>
  <h2>{{ member.data.name }}</h2>
  {{ member.templateContent | safe }}
</div>
{% endfor %}
